fieldset {
    margin: 0;
    min-width: 0;
}

fieldset,
legend {
    padding: 0;
    border: 0;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

no-padding-top {
    padding-top: 0 !important;
}

.text-muted {
    color: #999;
}

legend {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 19.5px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
}

fieldset,
legend {
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
}

legend,
pre {
    display: block;
    color: #333;
}

.text-black {
    color: #000;
}

.text-black {
    color: #000;
    font-weight: 900;
}

.small,
small {
    font-size: 92%;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

@media (min-width: 1025px) 
{.col-md-12 {
    width: 100%;
}}

@media (min-width: 1025px) 
{.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left;
}}
.seatChart-wrapper {
    padding-left: 30px; 
  }
@media (min-width: 769px)
  {.col-sm-6 {
    width: 50%;
  }}
  div.seatCharts-space {
    background-color: #f9f9f9;
  }
  .caret, .datepicker td, .datepicker th, .input-daterange .add-on, .input-daterange input, div.seatCharts-cell {
    text-align: center;
  }
  div.seatCharts-row {
    height: 45px; 
  }
  div.seatCharts-seat {
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0;
    cursor: default;
    box-shadow: none;
    background-color: transparent;
    background-image: url(img/bus-seat22.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 140%; 
  }
  div.seatCharts-cell {
    height: 35px;
    width: 35px;
    margin: 5px;
    float: left;
    outline: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    color: #7a7a7e;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  div.seatCharts-seat.focused, div.seatCharts-seat.selected {
    background-image: url(img/bus-seatred2.png);
    color: white;
  }
  div.seatCharts-seat.unavailable {
    background-image: url(img/bus-seatgreen2.png);
    cursor: not-allowed;
    color: #fff;
  }
  div.seatCharts-cell.forShow{
    color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0;
    cursor: default;
    box-shadow: none;
    background-color: transparent;
    background-image: url(img/bus-seat22.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 140%; 
  }
  div.seatCharts-cell.forShow.selected{
    background-image: url(img/bus-seatred2.png);
    color: white;
  }
  div.seatCharts-cell.forShow.unavailable{
    background-image: url(img/bus-seatgreen2.png);
    cursor: not-allowed;
    color: #fff;
  }
  ul.nav-step {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    *zoom: 1;
    position: relative;
    overflow: hidden;
  }
  
  ul.nav-step li {
    position: relative;
    float: left;
    height: 56px;
    display: inline-block;
    text-align: middle;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 56px;
  }
  
  ul.nav-step li a {
    color: #333333;
    padding: 0;
  }
  
  ul.nav-step li a:hover {
    background-color: transparent;
  }
  
  ul.nav-step li:before {
    position: absolute;
    display: block;
    border: 30px solid transparent;
    border-left: 16px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px;
  }
  
  ul.nav-step li:after {
    position: absolute;
    display: block;
    border: 30px solid transparent;
    border-left: 16px solid #f9f9f9;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px;
  }
  
  ul.nav-step li.active {
    color: #3a87ad;
    background: #d9edf7;
  }
  
  ul.nav-step li.active:after {
    border-left: 16px solid #d9edf7;
  }
  
  ul.nav-step li.done a {
    color: #468847;
  }
  
  ul.nav-step li.disabled {
    color: #999999;
    background: #ededed;
  }
  
  ul.nav-step li.disabled:after {
    border-left: 16px solid #ededed;
  }
  .booking-form{
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.6em;
  }
  .booking-wizard{
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .booking-wizard .iconbar {
    border-bottom: 1px solid #ddd;
    background: #fcfcfc;
    position: relative;
    min-height: 44px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 55%;
    z-index: 1;
  }
  @media (min-width: 769px)
  {.iconbar {
    border-radius: 0;
  }}
  .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
  }


  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  .seat {
    text-align: center;
    padding: 20px 0;
    background: #ffffff;
  }
  .panel-body {
	padding: 20px;
}
/* (B) SEATS LAYOUT */
#layout {
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 20px;
  margin-bottom: 30px;
}
.seat {
  text-align: center;
  padding: 20px 0;
  background: #ffffff;
}
#layout .seat {
  cursor: pointer;
}
.taken {
  color: #a9a9a9;
  background: #f1f1f1 !important;
}


/* (C) LEGEND */
#legend {
  display: grid;
  grid-template-columns: 100px 200px;
  margin-bottom: 30px;
}
#legend div {
  padding: 10px;
}

#go {
  padding: 10px 20px; /* Adjust the padding as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.bus-seat-icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-right: 5px; /* Adjust the margin as needed */
}


/* (D) "CHECKOUT" */

#go {
  border: 0;
  padding: 20px;
  font-weight: 700;
  color: #fff;
  background: #9f3737;
  cursor: pointer;
}
.panel-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}